<div id="home-tab" class="d-flex align-items-start">
	<nav class="nav nav-pills" role="tablist">
		<a
			href="#product-tab"
			class="nav-link active"
			data-bs-toggle="pill"
			role="tab"
			>Products</a
		>
		<a
			href="#supplier-tab"
			class="nav-link"
			data-bs-toggle="pill"
			role="tab"
			>Suppliers</a
		>
		<a href="#brands-tab" class="nav-link" data-bs-toggle="pill" role="tab"
			>Brands</a
		>
		<a href="#orders-tab" class="nav-link" data-bs-toggle="pill" role="tab"
			>Orders</a
		>
	</nav>
	<div class="tab-content">
		<div class="tab-pane fade show active" role="tabpanel" id="product-tab">
			<h3 class="text-center">Products</h3>
			<br />
			<app-product-form></app-product-form>
			<app-product-table></app-product-table>
		</div>
		<div class="tab-pane fade" role="tabpanel" id="brands-tab">
			<h3 class="text-center">Brands</h3>
			<hr />
			<br />
			<!-- <app-product-form></app-product-form>
			<app-product-table></app-product-table> -->
		</div>
		<div class="tab-pane fade" role="tabpanel" id="supplier-tab">
			<h3 class="text-center">Suppliers</h3>
			<hr />
			<br />
			<app-supplier-form></app-supplier-form>
			<br /><br />
			<app-supplier-table></app-supplier-table>
		</div>
		<div class="tab-pane fade" role="tabpanel" id="orders-tab">
			<h3 class="text-center">Orders</h3>
			<hr />
			<br />
			<!-- <app-supplier-form></app-supplier-form> -->
			<br /><br />
			<!-- <app-supplier-table></app-supplier-table> -->
		</div>
	</div>
</div>
