header {
	width: 100%;
	height: 35vh;
	background-image: url('../../../assets/header.jpg');
	background-position: center center;
	background-size: cover;
	opacity: 0.9;
	h1, p {
		color: white;
		font-weight: 900;
		filter: drop-shadow(.5em .5em 1em black);
	}
}
