<div id="product-form" class="row">
    <div id="image-container" class="col-md-2">
        <img src="#" alt="" class="product-img">
        <input type="file" value="" name="" id="" class="form-control">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="product name">
                <input type="text" class="form-control" placeholder="normal price">
                <input type="text" class="form-control" placeholder="sell price">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="quantity">
                <select class="form-control"></select>
                <select class="form-control"></select>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-success" type="submit">create product</button>
        </div>
    </div>
</div>